
.hero-unit
  h1 Holy guacamole !!
  <br/>
  p Un problème est survenu dans l'application - pourquoi ne pas réessayer en retournant à l'accueil ?
  <br/>
  a(class= 'btn primary large', href= '/') Retourner à l'accueil &raquo;



