.content
  .page-header
    h1 Partager un nouvel instant de bonheur
  .row
    - if (flash.error != null){
      .span16
        .alert-message.error
          = flash.error
    -}

    .span4
      p Qui suis-je ?
      <br/><br/>
      p Quels sont les circonstances, les lieux, les situations, les images qui vous viennent ? 
      p Qu'avez-vous ressenti ?
    .span12
      form(action="/bonheur", method="post")
        .clearfix
          .input1
            input(class='span12', name='question[author]', id='author', style='margin-left:0px;font-size:20px;') 
        .clearfix
          .input1
            textarea(class='span12', name='question[text]', id='question', rows='6', style='margin-left:0px;font-size:20px;', text='Mon instant de bonheur')
        .clearfix
          <input type="hidden" name="csrf" value=#{csrf}>
        .actions
          input(type='submit', class="btn primary", value="Partager votre bonheur !")
          &nbsp;
          button(type='reset', class='btn') Effacer

