.content
  .page-header
    h1 Poser une nouvelle question
  .row
    - if (flash.error != null){
      .span16
        .alert-message.error
          = flash.error
    -}

    .span4
      p Une bonne question commence par "Pourquoi", "Qui", "Que"... et se finit par un point d'interrogation !
    .span12
      form(action="/question", method="post")
        .clearfix
          .input1
            textarea(class='span12', name='question[text]', id='question', rows='6', style='margin-left:0px;font-size:20px;')
            span(class='help-block') Vous pourrez donner une réponse dès l'étape suivante si vous le souhaitez.
        .clearfix
          <input type="hidden" name="csrf" value=#{csrf}>
        .actions
          input(type='submit', class="btn primary", value="Poser la question !")
          &nbsp;
          button(type='reset', class='btn') Effacer

